## Day-04 Decision Tree

In [16]:
# Gatering data
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
bike_sharing = fetch_ucirepo(id=275) 
  
# data (as pandas dataframes) 
X = bike_sharing.data.features 
y = bike_sharing.data.targets 
  
# metadata 
# print(bike_sharing.metadata) 
  
# variable information 
# print(bike_sharing.variables)

In [17]:
# import libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
# Display dataset information
print("Dataset Shape:", X.shape)
print("\nFirst few rows of features:")
print(X.head())
print("\nFirst few rows of target:")
print(y.head())

Dataset Shape: (17379, 13)

First few rows of features:
       dteday  season  yr  mnth  hr  holiday  weekday  workingday  weathersit  \
0  2011-01-01       1   0     1   0        0        6           0           1
1  2011-01-01       1   0     1   1        0        6           0           1
2  2011-01-01       1   0     1   2        0        6           0           1
3  2011-01-01       1   0     1   3        0        6           0           1
4  2011-01-01       1   0     1   4        0        6           0           1

   temp   atemp   hum  windspeed
0  0.24  0.2879  0.81        0.0
1  0.22  0.2727  0.80        0.0
2  0.22  0.2727  0.80        0.0
3  0.24  0.2879  0.75        0.0
4  0.24  0.2879  0.75        0.0

First few rows of target:
   cnt
0   16
1   40
2   32
3   13
4    1

In [22]:
X.head()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0

In [ ]:
y.head()

   cnt
0   16
1   40
2   32
3   13
4    1

TypeError: 'NoneType' object is not callable